################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bdd.WeatherProject/
/.vs/Bdd.WeatherProject/v16/TestStore/0/
/.vs/Bdd.WeatherProject/v16/TestStore
/packages
/Weather.Test/bin/
/Weather.Test/obj/Debug/