<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GoogleURL" value="https://www.google.co.in/"/>
    <add key="ApiAppId" value="ef73e14f6bda5f5da1813b3698ae7539"/>
    <add key="CurrencyApiAppId" value="0ec8d4934824f0fdae77d946a6e748b9"/>
  </appSettings>
</configuration>